@tailwind base;
@tailwind components;
@tailwind utilities;

.h-vh100 {
    height: calc(var(--vh, 1vh) * 100);
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.draw {
    stroke-dasharray: 69;
    stroke-dashoffset: 69;
    animation: draw 8s forwards;
}

.resume-button:hover {
      box-shadow: 4px 4px 0 0 #5ef0d0;
      transform: translate(-5px, -5px);
}

.hover-underline-animation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #5ef0d0; /* Dies ist Ihre grüne Farbe */
    transition: width .3s;
}

.hover-underline-animation:hover::after {
    width: 100%;
}